<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@@title</title>
	<link as="font" crossorigin href="./fonts/proxima/regular/ProximaNova-Regular.woff" rel="preload" type="font/woff" />
	<link as="font" crossorigin href="./fonts/gilroy/semibold/Gilroy-SemiBold.woff" rel="preload" type="font/woff" />
	<link as="font" crossorigin href="./fonts/proxima/semibold/ProximaNova-Semibold.woff" rel="preload" type="font/woff" />
	<link rel="preload" href="./files/plugins.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
	<link rel="stylesheet" href="css/style.css" />
</head>
