<link rel="stylesheet" property="stylesheet" href="/assets/css/components.css" />

<script>
	!(function (t) {
		'use strict';
		t.loadCSS || (t.loadCSS = function () {});
		var e = (loadCSS.relpreload = {});
		if (
			((e.support = (function () {
				var e;
				try {
					e = t.document.createElement('link').relList.supports('preload');
				} catch (t) {
					e = !1;
				}
				return function () {
					return e;
				};
			})()),
			(e.bindMediaToggle = function (t) {
				var e = t.media || 'all';
				function a() {
					t.addEventListener ? t.removeEventListener('load', a) : t.attachEvent && t.detachEvent('onload', a),
						t.setAttribute('onload', null),
						(t.media = e);
				}
				t.addEventListener ? t.addEventListener('load', a) : t.attachEvent && t.attachEvent('onload', a),
					setTimeout(function () {
						(t.rel = 'stylesheet'), (t.media = 'only x');
					}),
					setTimeout(a, 3e3);
			}),
			(e.poly = function () {
				if (!e.support())
					for (var a = t.document.getElementsByTagName('link'), n = 0; n < a.length; n++) {
						var o = a[n];
						'preload' !== o.rel ||
							'style' !== o.getAttribute('as') ||
							o.getAttribute('data-loadcss') ||
							(o.setAttribute('data-loadcss', !0), e.bindMediaToggle(o));
					}
			}),
			!e.support())
		) {
			e.poly();
			var a = t.setInterval(e.poly, 500);
			t.addEventListener
				? t.addEventListener('load', function () {
						e.poly(), t.clearInterval(a);
				  })
				: t.attachEvent &&
				  t.attachEvent('onload', function () {
						e.poly(), t.clearInterval(a);
				  });
		}
		'undefined' != typeof exports ? (exports.loadCSS = loadCSS) : (t.loadCSS = loadCSS);
	})('undefined' != typeof global ? global : this);
</script>

<script src="./files/lozad.min.js"></script>
<script src="./files/jquery-3.4.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"
	integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput.js"
	integrity="sha512-Re9cWc8hkn7aWsPHHlX+FusmIyrNeKQy17imsq9KxIPauDx1XGnBhJn7+ItWi7fwT35i+81pDJGQtolFwnUXZg=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>

<script>
	window.onRoistatAllModulesLoaded = function () {
		window.roistat.registerOnVisitProcessedCallback(function () {
			$('input[name="roistat__visit"]').val(window.roistat.getVisit());
			//console.log(window.roistat.getVisit());
		});
	};
</script>

<script src="./files/plugins.min.js" defer></script>

<script src="js/index.js"></script>

<script async src="//app.call-tracking.by/scripts/calltracking.js?234d6ea0-931c-401c-88fa-b3aa4d77f5b2"></script>

@@include('./counters.html', {})
